.black {
    background-color: black;
}

.whitle {
    background-color: white;
}

#board {
    width: 400px;
}

span {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
}

span[class$=selected]{
    background-color: red;;
}